  <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @*Including JavaScript reference here so that it could be accessed in all the pages*@
    @*<script src="~/js/CustomScript.js"></script>*@


    @*@RenderSection("Scripts", required: false) This render the "Script" (JS file). Required false makes it not not mandatory script for all views.*@

    @*A way to make sure Scripts is defined (or exists) before invoking it*@
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
</body>
</html>
