  <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment exclude="Development">
        <!-- we use "asp-fallback" when CDN server is down-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true" >
    </environment>
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment> 
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @*Including JavaScript reference here so that it could be accessed in all the pages*@
    @*<script src="~/js/CustomScript.js"></script>*@


    @*@RenderSection("Scripts", required: false) This render the "Script" (JS file). Required false makes it not not mandatory script for all views.*@

    @*A way to make sure Scripts is defined (or exists) before invoking it*@
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
</body>
</html>
